.welcome_msg{
    font-size: 2.5em;
    background-color: rgb(58, 202, 25);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.login_prompt{
    font-size: 2.5em;
    margin-top: 5px;
    background-color: rgb(230, 71, 27);
    color: white;
    padding: 10px;
    border-radius: 5px;
}