.card{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 10px;
  text-align: center ;
  max-width: 200px ;
  display: inline-block  ;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title{
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 0;
}
.card .card-text{
  font-size: 1em;
  color: hsl(0, 0%, 50%);
  margin: 0;
}