.list_cat{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid black;
  background-color: aqua;
}
.listItems{
  font-size: 1.5em;
  color: hsl(0, 0%, 20%);
  text-align: center;
  margin: 5px;
  padding: 10px;
  
}